<span class="category {{categoryClass}}">{{clanek.category}}</span>
<h1>{{clanek.title}}</h1>
<small class="meta">{{clanek.source}}, {{from-date clanek.publishedAt}}</small>
<span class="read-indicator" title="rdeče: tega še nisi prebral/a, zeleno: prebrano"></span>
