<div class="klub_page-container {{if fullWidth 'klub_page-container--fullwidth'}} js-close">
  <article class="klub_page-article js-close" itemscope itemtype="http://schema.org/LocalBusiness">

    {{#if isUnverified}}
      <p class="alert alert-alert">
      NEPREVERJEN KLUB <br>
      Podatki o klubu niso preverjeni. Do takrat klub ne bo prikazan na zemljevidu klubov.</p>
    {{/if}}

    {{#if isPermanentlyClosed}}
      <p class="alert alert-error">
      TRAJNO ZAPRTI KLUB <br>
      {{klub.name}} je označen trajno zaprt od leta {{as-year klub.closedAt}}. Če to ni pravilno, prosim {{#link-to 'klubs.klub.uredi' categoryShown klub.id}}uredite podatke{{/link-to}}.</p>
    {{/if}}

    <ul class="fa-ul klub_page-item_list js-close">
      <li class='klub_page-item'>
        <h1 itemprop="name">{{klub.name}} {{#link-to 'klubs.klub.uredi' categoryShown klub.id title="Uredi podatke o klubu" class="klub_page-edit_klub"}}{{fa-icon "pencil"}}{{/link-to}}</h1>{{fa-icon "close" fixedWidth=true listItem=true classNames="klub_page-close_btn js-close" title="Zapri"}}
      </li>
      {{#each addresses as |address|}}
        {{klub-address address=address.address latitude=address.latitude longitude=address.longitude klubId=address.id active=address.active zoomToLocation=(action this.attrs.zoomToLocation)}}
      {{/each}}
      {{#if klub.website}}
        <li class='klub_page-item'>
          <p><a itemprop="url" rel="noopener" href={{klub.website}} target="_blank">Spletna stran</a></p>{{fa-icon "external-link-square" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if klub.facebookUrl}}
        <li class='klub_page-item'>
          <p><a itemprop="url" rel="noopener" href={{klub.facebookUrl}} target="_blank">Facebook stran</a></p>{{fa-icon "facebook" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if klub.phone}}
        <li class='klub_page-item'>
          <p itemprop="telephone">{{klub.phone}}</p>{{fa-icon "phone" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if klub.email}}
        <li class='klub_page-item'>
          <p itemprop="email">{{mail-to klub.email}}</p>{{fa-icon "envelope" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if klub.images.length}}
        <li class='klub_page-item'>
          {{klub-gallery images=klub.images}}
          {{fa-icon "camera" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      <li class='klub_page-item'>
        <p>{{#link-to 'klubs.klub.uredi' categoryShown klub.id}}So podatki napačni? Uredi klub!{{/link-to}}</p>{{fa-icon "pencil" fixedWidth=true listItem=true}}
      </li>
      {{#if permalink}}
        <li class="klub_page-item">
          <div class="fb-comments" data-href="{{permalink}}" data-width="100%" data-numposts="5"></div>
        </li>
      {{/if}}
    </ul>


  </article>
  {{yield}}

</div>
