{{#link-to 'klubs.klub' categoryShown klubId class='klub-card-parent' data-id=klubId}}
  <span class="klub-card-name">{{name}}</span>
{{/link-to}}
<KlubCardAddress @klubTown={{town}} @klubId={{klubId}} @categoryShown={{categoryShown}} />
{{#each branchesWithCategory as |branch|}}
  <KlubCardAddress @klubTown={{branch.town}} @klubId={{branch.id}} @categoryShown={{categoryShown}} />
{{/each}}