<div class="klub_page-container {{if fullWidth 'klub_page-container--fullwidth'}} js-close">
  <article class="klub_page-article js-close" itemscope itemtype="http://schema.org/LocalBusiness">

    <ul class="fa-ul klub_page-item_list js-close">
      <li class='klub_page-item'>
        <h1 itemprop="name">{{name}} {{#link-to 'klubs.klub.uredi' klubId title="Uredi podatke o klubu" class="klub_page-edit_klub"}}{{fa-icon "pencil"}}{{/link-to}}</h1>{{fa-icon "close" fixedWidth=true listItem=true classNames="klub_page-close_btn js-close" title="Zapri"}}
      </li>
      {{#if address}}
        <li class='klub_page-item'>
          <p itemprop="address">{{address}}</p>{{fa-icon "map-marker" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if website}}
        <li class='klub_page-item'>
          <p><a itemprop="url" rel="noopener" href={{website}} target="_blank">Spletna stran</a></p>{{fa-icon "external-link-square" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if facebookUrl}}
        <li class='klub_page-item'>
          <p><a itemprop="url" rel="noopener" href={{facebookUrl}} target="_blank">Facebook stran</a></p>{{fa-icon "facebook" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if phone}}
        <li class='klub_page-item'>
          <p itemprop="telephone">{{phone}}</p>{{fa-icon "phone" fixedWidth=true listItem=true}}
        </li>
      {{/if}}
      {{#if email}}
        <li class='klub_page-item'>
          <p itemprop="email">{{mail-to email}}</p>{{fa-icon "envelope" fixedWidth=true listItem=true}}
        </li>
      {{/if}}

      <li class='klub_page-item'>
        <p>{{#link-to 'klubs.klub.uredi' klubId}}So podatki napačni? Uredi klub!{{/link-to}}</p>{{fa-icon "pencil" fixedWidth=true listItem=true}}
      </li>
    </ul>
  </article>
  {{yield}}

</div>
