<div class="l-flex klubs-page">

  <div class="l-flex l-flex--vert map-and-klubpage">

    <LeafletMap @center={{markerCenter}} @zoom={{zoom}} @minZoom=8 @maxZoom=18 @maxBounds={{maxBounds}} @zoomControl={{false}} @geolocateControl={{true}}>
      <TileLayer @url="https://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png" />

      {{#if isLoading}}
        <MarkerLayer @location={{markerCenter}} @icon={{klub-icon 'loading' 'Nalagam...'}} />
      {{else}}
        <MarkerClusterLayer @zoomToBoundsOnClick=true @maxZoom=14 @spiderfyOnMaxZoom=true @spiderfyDistanceMultiplier=5>
          {{#each model as |klub|}}
            <MarkerLayer @location={{klub.location}} @icon={{klub-icon category klub.name}} @onClick={{action "showKlub" klub}} />
          {{/each}}
        </MarkerClusterLayer>
      {{/if}}
    </LeafletMap>

    {{outlet}}
  </div>

  {{#unless anyKlub}}
    <div class="loader loader--embeds">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/unless}}

</div>