<div class="body">
  <div class="article obcina-page">
    <article>
      <h1 title="Športni klubi v občini {{model.name}}">Športni klubi v občini {{model.name}}</h1>

      {{#if noKlubs}}
        <section class="klub-list-section">
          <div class="line-behind-text">
            <h4>Vsi klubi</h4>
          </div>
          <div class="alert-info js-no-klubs-notif">
            <span>V občini {{model.name}} ni športnih klubov. {{#link-to 'dodaj-klub'}}Registriraj klub {{fa-icon "plus"}}{{/link-to}}</span>
          </div>

          <div class="see-on-map">
            {{#link-to 'klubs.index' 'fitnes'}}
              {{fa-icon "map"}} Oglej si klube v Sloveniji na interaktivnem zemljevidu
            {{/link-to}}
          </div>
        </section>
      {{else}}
        {{#each categorizedKlubs as |group|}}
          <section class="klub-list-section js-klub-list-section">
            <div class="line-behind-text">
              <h4>{{group.category.name}}</h4>
            </div>
            <div class="klub-list-container">
              <div class="klub-list l-flex">
                {{#each group.klubs as |klub|}}
                  <KlubCardWrapper @klub={{klub}} @categoryShown={{group.category.identifier}} />
                {{/each}}
              </div>
              {{#if group.hasMore}}
                {{#link-to 'obcinas.obcina-category' model.id group.category.identifier class="button"}}Prikaži vse{{/link-to}}
              {{/if}}
            </div>
            <div class="category-details">
              <div class="image">
                <img src="{{group.category.thumbnail}}" alt="{{group.category.name}} v občini {{model.name}}">
              </div>
              <br>
              {{#link-to 'klubs.index' group.category.identifier}}{{fa-icon "map"}} Prikaži interaktivni zemljevid - {{group.category.name}}{{/link-to}}
            </div>
          </section>
        {{/each}}
      {{/if}}

      <section class="nearby-obcinas">
        <ul class="content l-flex">
          <li class="title">Klubi v bližnjih občinah</li>
          {{#each model.neighbouringObcinas as |obcina|}}
            <li>{{#link-to 'obcinas.obcina' obcina.id class="js-neighbouring-obcina-link" }}{{obcina.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </section>

      <section class="ste-upravitelj">
        <div class="line-behind-text">
          <h4>Ste upravitelj športnega kluba v občini {{model.name}} ali okolici?</h4>
        </div>

        <div class="content">
          <p>Športniki se odločajo za tiste klube, ki imajo boljšo prisotnost na internetu. Brezplačno dodajte vaš klub in začnite pridobivati nove člane.</p>

          {{#link-to 'dodaj-klub' class="button js-add-klub-btn"}}{{fa-icon "plus"}} Registriraj klub{{/link-to}}
        </div>
      </section>

      <section class="v-sodelovanju-z">
        <div class="line-behind-text">
          <h4>V sodelovanju z</h4>
        </div>

        <ul class="l-flex">
          <li>
            <a href="http://www.fitnes-zveza.si/" target="_blank" title="Fitnes Zveza Slovenije">
              <img src="/assets/partners/fzs-logo.svg" alt="Fitnes Zveza Slovenije">
            </a>
          </li>
          <li>
            <a href="http://www.floorballzveza.si/" target="_blank" title="Flooball Zveza Slovenije">
              <img src="/assets/partners/floorball-zveza-slovenije.png" alt="Flooball Zveza Slovenije">
            </a>
          </li>
          <li>
            <a href="http://www.karate-olimpija.si/" target="_blank" title="Karate klub Olimpija">
              <img src="/assets/partners/karate-klub-olimpija.jpg" alt="Karate Klub Olimpija">
            </a>
          </li>
        </ul>

      </section>

      <section>
        <div class="line-behind-text">
          <h4>Opis</h4>
        </div>

        <p>Na tej strani so zbrani vsi športni klubi v občini {{model.name}}. Klubi Slovenije je spletni portal športnih klubov v Sloveniji, med njimi {{#each allCategories as |category|}}{{category.name}}, {{/each}}in več.</p>

        <p>Podatki o klubih se redno preverjajo in dopolnjujejo. Podatke preverimo ročno ob vnosu v sistem, ter preko predlogov, ki jih pošiljate obiskovalci portala. Prav tako lahko podatke urejajo upravitelji klubov in s tem poskrbijo, da so podatki pravilni.</p>

        <p>Obišči portal Klubi Sloveniji, kadar zeliš izvedeti kateri klubi se nahajajo v tvoji bližini. Portal redno obiskujejo športniki in bodoči člani klubov, ki se odločajo v kateri klub bi se vpisali.</p>

        <p>Če zeliš več informacij o športu v občini {{model.name}} nam piši na {{mail-to 'pedro@klubi.si'}}.</p>
      </section>
    </article>
  </div>
</div>

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="/assets/logo/logo-klubi-slovenije-000000-ffffff-0-240-41.svg" alt="Logo image">
  </div>
  <ul>
    <li>{{#link-to 'oprojektu'}}O nas{{/link-to}}</li>
    <li>{{#link-to 'dodaj-klub'}}Registriraj klub{{/link-to}}</li>
    <li>{{#link-to 'klubs' 'fitnes'}}Zemljevid klubov{{/link-to}}</li>
    <li>{{#link-to 'seznam-klubov.klubs' 'fitnes'}}Seznam klubov{{/link-to}}</li>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li>{{mail-to 'pedro@klubi.si'}}</li>
    </ul>

    <ul class="footer-social">
      <li><a target="_blank" href="https://www.facebook.com/klubi.slovenije/" title="Facebook stran">
        {{fa-icon "facebook"}}
        </a></li>
      <li><a target="_blank" href="https://twitter.com/klubi_si" title="Twitter (@klubi_si)">
        {{fa-icon "twitter"}}
      </a></li>
    </ul>
  </div>
</footer>