{{logo-button action="toggleSideNav"}}

<div class="flashes-container">
  {{#if flashMessages}}
    {{#each flashMessages as |flash|}}
      <div class="flash-{{flash.type}}">
        <span>{{flash.message}}</span>
      </div>
    {{/each}}
  {{/if}}
</div>

{{outlet}}

{{side-nav visible=isSideNavVisible}}

<div class="social-buttons">
  <div class="fb-like" data-href="https://www.facebook.com/zatresi.si" data-width="225" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

{{fade-screen visible=isSideNavVisible action="toggleSideNav"}}
