<div class="body">
  <div class="button-group">
    {{#each category in categories}}
      <label>
        <input type="radio" name="button-group" {{bind-attr value="category"}}>
        {{#link-to 'clanki' (query-params category=category) classNameBindings=":category :button-group-item"}}
          {{capitalize-text category}}
        {{/link-to}}
      </label>
    {{/each}}
  </div>

  <section class="clanki">

    <div class="clanek clanek-first">
    </div>

    {{#each clanek in filteredClaneks itemController="clanek"}}
      <a href="{{clanek.content.url}}" target="_blank" class="clanek {{if clanek.showBig 'clanek-big'}} {{if clanek.showImage 'clanek-image'}}" data-image-src="{{clanek.content.imageUrl}}">
        <span class="category {{clanek.categoryClass}}">{{clanek.content.category}}</span>
        <h1>{{clanek.content.title}}</h1>
        <small class="meta">{{clanek.content.source}}, {{from-date clanek.content.publishedAt}}</small>
        <span class="read-indicator" title="rdeče: tega še nisi prebral/a, zeleno: prebrano"></span>
      </a>
    {{/each}}

  </section>
</div>