<div class="l-flex klubs-page">

  <div class="l-flex l-flex--vert map-and-klubpage">

    {{!-- <div class={{if isShowPage 'is-show-page'}}> --}}
    {{leaflet-map zoom=zoom center=markerCenter klubs=filteredKlubs showKlub="showKlub" setHoveredKlub="setHoveredKlub" isShowPage=isShowPage categoryShown=category}}
    {{!-- </div> --}}

    {{outlet}}
  </div>
  {{#unless anyKlub}}
    <div class="loader loader--klubs">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/unless}}
  {{recent-categories}}

  {{data-bar isShowPage=isShowPage klubs=filteredKlubs categoryShown=category action="zoomToMarker" setHoveredKlub="setHoveredKlub"}}
</div>

{{social-buttons isShowPage=isShowPage}}