<div class="l-flex klubs-page">

  <div class="l-flex l-flex--vert map-and-klubpage">

    {{#leaflet-map center=markerCenter zoom=zoom minZoom="8" maxZoom="18" zoomControl="false"}}
      {{tile-layer url="https://a.tiles.mapbox.com/v3/foursquare.meku766r/{z}/{x}/{y}.png"}}

      {{#marker-cluster-layer zoomToBoundsOnClick="true" spiderfyOnMaxZoom="true"}}
        {{#each filteredKlubs as |klub|}}
          {{marker-layer location=klub.location icon=(klubIcon category klub.name) onClick=(action "showKlub" klub) }}
        {{/each}}
      {{/marker-cluster-layer}}

    {{/leaflet-map}}

    {{outlet}}
  </div>
  {{#unless anyKlub}}
    <div class="loader loader--klubs">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/unless}}

  {{recent-categories}}

  {{send-email-button}}
</div>

{{social-buttons isShowPage=isShowPage}}