<div class="body">
  <div class="article new-klub">

    <article>
      <h1 title="Dodaj klub">Dodaj klub</h1>

      <section>
        <form {{action "sendNewKlubEmail" on="submit"}}>
          <ul class="fa-ul new-klub-item_list">
            <li class="line-behind-text">
              <h4>Podatki o klubu</h4>
            </li>
            <li class='new-klub-item'>
              <label>Ime: </label>{{input type="text" value=model.name  required="required"}}{{unbound fa-icon "home" fixedWidth=true listItem=true}}
            </li>
            <li class='new-klub-item'>
              <label>Naslov: </label>{{input type="text" value=model.address  required="required"}}{{unbound fa-icon "map-marker" fixedWidth=true listItem=true}}
            </li>
            <li class='new-klub-item'>
              <label>Spletna stran: </label>{{input type="text" value=model.website}}{{unbound fa-icon "external-link-square" fixedWidth=true listItem=true}}
            </li>
            <li class='new-klub-item'>
              <label>Facebook stran: </label>{{input type="text" value=model.facebookUrl}}{{unbound fa-icon "facebook" fixedWidth=true listItem=true}}
            </li>
            <li class='new-klub-item'>
              <label>Telefon: </label>{{input type="text" value=model.phone}}{{unbound fa-icon "phone" fixedWidth=true listItem=true}}
            </li>
            <li class='new-klub-item'>
              <label>Epošta: </label>{{input type="email" value=model.email}}{{unbound fa-icon "envelope" fixedWidth=true listItem=true}}
            </li>
            <li class="line-behind-text">
              <h4>Nekaj o tebi</h4>
            </li>
            <li class='new-klub-item'>
              <label>Tvoja epošta: </label>{{input type="email" value=editorEmail required="required"}}{{unbound fa-icon "envelope" fixedWidth=true listItem=true}}
              <small>Nikoli ti ne bomo poslali nezaželjene pošte.</small>
            </li>
            <li class="line-behind-text">
            </li>
            <li class="new-klub-item">
              <button type="submit" name="button" id="button" disabled={{submitButtonDisabled}}>Pošlji
              <div class="loader-inline">
                <div class="spinner-container">
                  <div class="spinner"></div>
                  <div class="spinner"></div>
                  <div class="spinner"></div>
                </div>
              </div>
              </button>
            </li>
          </ul>
        </form>

      </section>
    </article>

    {{outlet}}
  </div>
</div>
