<div class="body">

  <div class="article oprojektu">

    <div class="scroll-on-page">
      <aside id="scroll-on-page-top">
        <!-- <a class="scroll-on-page-link" href="#ozatresi">Kaj je zatresi.si?</a>
        <a class="scroll-on-page-link" href="#ekipa">Ekipa</a>
        <a class="scroll-on-page-link" href="#kontakt">Kontakt</a> -->
      </aside>

      <article>
        <h1 title="O projektu">O projektu</h1>

        <section>
          <div class="line-behind-text">
            <h4 id="ozatresi">Kaj je <em>Zatresi</em>?</h4>
          </div>
          <p><em>Zatresi</em> je brskalnik za športne klube in aktivnosti v Sloveniji. Imamo največjo bazo športnih klubov v Sloveniji, ki jo obiskovalcem strani predstavimo na interaktivnem zemljevidu in jim tako pomagamo, da hitreje najdejo športni klub v svoji bližini.

          Na spletni strani zatresi.si lahko:

            <ul>
              <li>poiščes športni klub, npr za fuzbal, rokomet, karate, fitnes center, itd kjerkoli v Sloveniji</li>
              <li>odkriješ novi šport, ki ga lahko treniraš v svoji bližini</li>
              <li>dodajaš nove klube</li>
            </ul>

          </p>

          <p class="flash-notice">
            Si vodja športnega kluba in bi rad/a, da širša javnost izve zanj? Prepričaj se, da je tvoj klub na <a href="http://www.zatresi.si">zatresi.si</a>. Sedaj vam tudi nudimo priložnost, da zastonj objaviš zanimive reportaže o dogajanju v klubu, npr. tekmovanja ali izlet, na naši <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook strani.</a>
          </p>
        </section>
        <section>
          <div class="line-behind-text">
            <h4 id="zakaj">Zakaj je <em>Zatresi</em> nastal?</h4>
          </div>

          <p><em>Zatresi</em> je nastal zaradi neprijetnih izkušenj pri iskanju novega karate kluba:</p>

          <blockquote>
            <p>Pred nedavnim sem iskal karate klub, vendar sem pri brskanju po spletu imel težave, ker veliko teh strani ne vsebuje več aktualnih podatkov, ali pa se le te zelo težko najde. Zaradi slabega pregleda karate klubov v Sloveniji in bližini svojega doma sem potreboval tri tedne brskanja po internetu, povpraševanja in obiskovanja klubov, da sem našel takega, ki mi je všeč.</p>
            <footer>
              <cite>Pedro Kostelec, avtor <em>Zatresi</em></cite>
            </footer>
          </blockquote>

          <p>Iz te izkušnje je prisla ideja in kmalu zatem sledila izvedba. Nastala je spletna stran <a href="http://zatresi.si">zatresi.si</a>, kjer so na preglednem zemljevidu prikazane lokacije športnih klubov v Sloveniji. Cilj je ustvariti spletno stran, rumeno knjigo športnih klubov, za katere bojo skrbeli uporabniki sami tako, da bojo lahko samostojno dodajali športne klube in urejali obstoječe podatke na strani.</p>

        </section>
        <section>
          <div class="line-behind-text">
            <h4 id="pomoc">Bi rad pomagal?</h4>
          </div>

          <p>Izvedba projekta <em>Zatresi</em> zahteva veliko več dela kot se je sprva zdelo in brez dodatne pomoči prostovoljcev ne bo uspela. Zbrati podatke o vseh športnih klubih v Sloveniji je izjemno težka in časovno zamudna naloga. Zato z veseljem sprejmemo vsako pomoč pri zbiranju podatkov o klubih. Če želiš pomagati, nam piši na {{mail-to 'pedro@zatresi.si'}} ali preko naše <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook strani</a>.</p>

          <p>Pomagaš lahko tako:</p>

          <ul class="icon-bullets">
            <li class="bullet three-col-bullet">
              <div class="bullet-icon bullet-icon-1">
                {{fa-icon "share"}}
              </div>
              <div class="bullet-content">
                <h2>Reklamiranje projekta</h2>
                <ul>
                  <li>Objavi povezavo <a href="http://www.zatresi.si">zatresi.si</a> na svojo spletno stran, blog, socialno omrežje, itd.</li>
                  <li>Napiši blog objavo o <em>Zatresi</em> na svojem blogu.</li>
                  <li>Všečkaj <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook stran</a>.</li>
                  <li>Povabi svoje prijatelje na <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook stran</a>.</li>
                  <li>Sledi <em>@zatresi</em> na <a href="https://twitter.com/zatresi" title="Zatresi.si na Twitterju">Twitterju</a></li>
                </ul>
              </div>
            </li>

            <li class="bullet three-col-bullet">
              <div class="bullet-icon bullet-icon-2">
                {{fa-icon "database"}}
              </div>
              <div class="bullet-content">
                <h2>Zbiranje podatkov o športnih klubih</h2>

                <ul>
                  <li>Ne najdeš svojega kluba na strani? Prosim, pošlji nam podatke o klubu.</li>
                  <li>Si opazil napako v podatkih katerega od klubov? Prosim, pošlji nam popravke.</li>
                  <li>Izberi si nek šport ali aktivnost, ki ti je pri srcu in ga/je še ni na <a href="http://www.zatresi.si">zatresi.si</a>, in nam pošlji Excel datoteko s podatki vseh klubov v katerih se ta šport/aktivnost trenira v Sloveniji.</li>
                </ul>

              </div>
            </li>
            <li class="bullet three-col-bullet">
              <div class="bullet-icon bullet-icon-3">
                {{fa-icon "paint-brush"}}
              </div>
              <div class="bullet-content">
                <h2>Oblikovanje spletne strani</h2>
                <ul>
                  <li>Oblikuješ lahko logotip za <em>Zatresi</em>.</li>
                  <li>Oblikuješ lahko unikatne označbe za prikaz športnih klubov na zemljevidu. Trenutno so vse označbe modre barve, ne glede na šport.</li>
                </ul>
              </div>
            </li>
          </ul>

        </section>

        <section>
          <div class="line-behind-text">
            <h4 id="ekipa">Ekipa</h4>
          </div>

          <div class="square-cards">
            <div class="square-card">
              <div class="square-card-image">
                <img src="/assets/pedro_kostelec.jpg" alt="Pedro Kostelec">
              </div>
              <div class="square-card-header">
                <a href="http://pedro.si" target="_blank">Pedro Kostelec</a>
              </div>
              <div class="square-card-copy">
                <p>Je idejni vodja in trenutno edini razvijalec na projektu. Ustvaril je spletno stran <a href="http://www.zatresi.si">zatresi.si</a>, jo redno vzdržuje in dodaja nove funkcionalnosti. Podatke je o športnih klubih je samostojno poiskal po spletu, pregledal, dopolnil in uredil. Občasno mu pri tem kdo priskoči na pomoč. Da se glas o <em>Zatresi</em> širi v javnost, občasno napiše kakšno objavo na socialnih omrezjih: <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook stran</a>, <a href="https://twitter.com/zatresi" title="Zatresi.si na Twitterju">Twitterju (@zatresi)</a> in <a href="https://www.google.com/+ZatresiSi">Google Plus</a>.</p>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="line-behind-text">
            <h4 id="zahvala">Zahvala</h4>
          </div>

          <p>
            Zahvalil bi se rad naslednjim osebam:

            <ul>

              <li>
                <dl>
                  <dt>Fitnes Zvezi Slovenije</dt>
                  <dd>za objavo interaktivnega zemljevida fitnes klubov na <a href="http://www.fitnes-zveza.si/o-fzs/clani-fzs/">njihovi spletni strani</a>.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Heleni Pauko</dt>
                  <dd>za pomoč pri zbiranju podatkov o frizbi klubih, in preverjanju le teh.</dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Vsem, ki ste všečkali našo Facebook stran</dt>
                  <dd>ker pomagate pri ozavescanju javnosti o <em>Zatresi</em>.</dd>
                </dl>
              </li>
            </ul>
          </p>

          <p>Dodaj svoje ime tako, da pomagaš pri izdelavi in promociji spletne strani.</p>

        </section>
        <section>
          <div class="line-behind-text">
            <h4 id="kontakt">Kontakt</h4>
          </div>

          <p>Za katerokoli vprašanje ali komentar nam piši na {{mail-to 'pedro@zatresi.si'}}.</p>

          <p>Lahko nas tudi kontaktiraš preko <a href="https://www.facebook.com/zatresi.si" title="Zatresi.si Facebook stran">Facebook strani</a>, <a href="https://twitter.com/zatresi" title="Zatresi.si na Twitterju">Twitterja (@zatresi)</a> ali <a href="https://www.google.com/+ZatresiSi">Google Plusa</a>.</p>

          <!-- <a class="scroll-on-page-link" href="#scroll-on-page-top">Na vrh strani</a> -->
        </section>
      </article>
    </div>
  </div>
</div>


{{outlet}}
